<html>

    <body>
        <h3>Create Account</h3>

        <form action="/users/savedata" method="POST">

            username : <input type="text" name="username"> <br/>
            password : <input type="text" name="password"> <br/>

            <input type="submit">

        </form>


    </body>
</html>