<!DOCTYPE html>
<script>

var token = "<%= Data  %>"
alert(token)
sessionStorage["token"] =token.token

sessionStorage["id"] =token.id

</script>
<html>
  <head>
 
  </head>
  <body>
    
    <a href="/movies?token=<%=Data.token%>">
      <button>members</button>
   </a>
   
   <br>
   <br>

   <a href="/members?token=<%=Data%>">
    <button>members</button>
 </a>
 <p id="source"></p>



  </body>
</html>
