<html>
    <body>    
        <h1>member Data</h1>
       Name : <%= member.name %><br/>
       Email : <%= member.email %><br/>
       City : <%= member.city %><br/> <br/>

       <a href="/members">Back to list</a>
    </body>
</html>